body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: 10px auto;
    text-align: center;
}

header, nav, section, aside, footer {
    background-color: #ebebeb;
}

header {
    margin-bottom: 10px;
    padding: 20px;
}

header:hover, h1:active {
    background-color: #466b31;
}

nav {
    padding: 20px;
    margin-bottom: 20px;
}

nav:hover, p:active {
    background-color: #341f5c;
}

article {
    color: #ebebeb;
    background-color: #777;
    margin: 30px 20px 0;
    padding: 8px;
}

h1, p {
    color: #777;
    background-color: #ebebeb;
    padding: 10px;
    margin: 10px;
}

h1:hover, article:active {
    background-color: #1596b6;
}

p:hover, section:active {
    background-color: #68b125;
}

section {
    display: block;
    width: 495px;
    float: left;
    margin-bottom: 20px;
    padding: 30px 0 20px;
    margin-right: 20px;
}

section:hover, aside:active {
    background-color: #9b1c7b;
}

aside {
    display: block;
    float: left;
    padding: 40px 200px;
    height: 172px;
}

aside:hover, footer:active {
    background-color: #e2d413;
}

footer {
    padding: 20px;
    clear: both;
}

footer:hover, header:active {
    background-color: #421818;
}

.container {
    overflow: auto;
}

.container:hover {
    /*background-color: #e41a1a;*/
}

.black {
    background-color: black;
}

.brown {
    background-color: brown;
}

.original {
    background-color: #ebebeb;
}